.team {
    display: block;
    padding: 150px 0;
    background-color:  $gray-lighter;
    &-main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 30px;
    }
    &-heading {
        font-size: 36px;
        font-weight: 800;
        line-height: 1.55;
        margin-bottom: 30px;
    }
    &-desc {
        font-size: 18px;
        line-height: lineH(34 ,18);
        margin-bottom: 60px;
    }
    &-images {
       display: flex;
       align-items: center;
       gap: 0 30px;
    }
    &-img2 {
        display: block;
        margin-top: 30px;
        margin-left: auto;
    }
    @include minw(1400px) {
        &-content {
            max-width: 370px;
            flex-shrink: 0;
        }
        &-images {
            width: 100%;
            max-width: 670px;
        }
    }
    @include maxw(1399px) {
        padding: 100px 0;
        &-main {
            flex-direction: column;
            gap: 30px 0;
        }
    }
    @include maxw (767px) {
        padding: 50px 0;
        &-desc {
            margin-bottom: 30px;
        }
        &-column {
            width: 100%;
        }
        &-images {
            flex-direction: column;
            row-gap: 40px;
            width: 100%;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}