$primary-font: "Open sans", sans-serif; 
$secondary-font: "Raleway", sans-serif;
$gray: #393e46;
$gray-light: #9a9fa7;
$blue: #4494F2;
$gray-lighter: #F7F8F9;
$gray-dark : #282f3a;
$gray-darker: #252b36;